html{
  background-image: url(/media/backgroundTemp2.png);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .header {
    width: 50%;
    margin-left: 22.6%;
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background-color: rgb(4, 39, 8);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    h2 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
  
  .img {
    background-color: rgb(204, 204, 204);
    width: 100%;
    padding: 20px;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    width: 50%;
    margin-left: 23%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

  .homeButton {
    background-color: rgb(10, 43, 16);
    color: white;
    
    position: fixed;
    top: 10px;
    left: 10px;
    
    padding: 14px 24px;
    border-radius: 5px;
    
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    }
    
    .homeButton:hover {
      background-color: rgb(25, 70, 31);
      cursor: pointer;
      color: white;
      text-decoration: none;
      box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
    }

    .smallButton {
      background-color: rgb(10, 43, 16);
      color: white;
      
      padding: 14px 24px;
      border-radius: 5px;
      
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      
      transition: background-color 0.2s ease-in-out;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
      }

    .smallButton:hover {
      background-color: rgb(25, 70, 31);
      cursor: pointer;
      color: white;
      text-decoration: none;
      box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
    }