html{background-color: rgb(235, 235, 235);}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
  }
  
  .rightNav {
    margin-left: 800px;
  }

ul {
    list-style: none;
    display: flex;
  }
  
a {
    color: rgb(2, 2, 2);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
  }

a:hover{
    color: rgb(233, 0, 0);
    transition: color 0.33s;
  }

img{
    height: 40px;
    margin-top: 5px;
    margin-left: -50px;
  }

  .active{
    color: red;
  }